/* Layout e estilização da página de cadastro dos médicos */

.Doctors {
    grid-row: 4 / 5;
    
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-rows: 50% 1fr 20%;
}

.doctorForm {  
    font-size: 2.2rem;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Doctors .personalInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5rem;
}

.email {
    grid-column: 1 / 3;
}