/* Layout e estilização dos componentes do cabeçalho da página de cadastros */

.SignUpNav {
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpNavigation {
    font-size: 2rem;
    font-weight: 600;
    list-style: none;

    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    
    border: 1px solid;
    border-radius: 5px;
}