/* Layout e estilização dos componentes do Header */

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerNavigation {
    font-size: 2.4rem;
    font-weight: 600;
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 4rem;
}